footer
    background-color: #262b2e
    padding: 93px 0
    opacity: 1
    @media screen and (max-width: 600px)
        padding: 40px 10px 20px
    p
        text-align: center
        color: #ffffff
        opacity: 0.4
        font-weight: 500
        letter-spacing: 0.16px