.header
    padding-top: 64px
    overflow: hidden
    padding-bottom: 138px
    background-color: #eff0f2
    @media screen and (max-width: 600px)
        padding: 20px 0 50px
    .menu
        cursor: pointer
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        height: 46px
        margin-bottom: 206px
        @media screen and (max-width: 1140px)
            width: 90%
            margin: 0 auto 111px
        @media screen and (max-width: 600px)
            margin-bottom: 50px
    &__btn
        text-align: center
    &__glass
        background: url("../img/glass.png") center no-repeat
        width: 74px
        height: 83px
        position: absolute
        right: 150px
        @media screen and (max-width: 600px)
            position: static
            margin: 10px auto 0