.header
    padding-top: 64px
    overflow: hidden
    padding-bottom: 138px
    background-color: #eff0f2
    @media screen and (max-width: 1140px)
        padding: 64px 30px 138px
    @media screen and (max-width: 800px)
        padding: 30px 30px 106px
    @media screen and (max-width: 480px)
        padding: 30px 30px 50px
    @media screen and (max-width: 320px)
        padding: 10px 10px 28px

    .menu
        cursor: pointer
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        height: 46px
        margin-bottom: 206px
        @media screen and (max-width: 800px)
            margin-bottom: 30px
        @media screen and (max-width: 480px)
            margin-bottom: 50px
    &__btn
        text-align: center
    &__glass
        background: url("../img/glass.png") center no-repeat
        width: 74px
        height: 83px
        position: absolute
        right: 150px
        @media screen and (max-width: 480px)
            position: static
            margin: 30px auto 0
        
    