.works
    padding: 129px 0 125px
    &__items
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        
    &__item
        width: 370px
        height: 359px
        margin: 5px
