@import reset
@import typography
@import blocks/logo
@import blocks/btn
@import blocks/carousel
@import blocks/services-item
@import blocks/more
@import blocks/person
@import blocks/hum-social
@import blocks/member
@import blocks/form
@import blocks/map
@import blocks/foot-social
@import blocks/company
@import blocks/rd-slider-item

@import sections/header
@import sections/about-us
@import sections/works
@import sections/services
@import sections/team
@import sections/they
@import sections/companies
@import sections/feedback
@import sections/footer
.wrapper
    position: relative
    margin: 0 auto
    max-width: 1140px
