.map
    width: 43%
    box-shadow: 0 0 3px rgba(21, 21, 21, 0.16)
    background-color: #021623
    opacity: 0.8
    padding: 36px 22px 19px
    z-index: 3
    @media screen and (max-width: 600px)
        width: 100%
    &__info
        opacity: 0.6
        color: #ffffff
        font-size: 15px
        line-height: 24px
        margin-bottom: 14px
    &__img
        height: 224px
        background: url("../img/map.jpg") 100% center no-repeat
        @media screen and (max-width: 600px)
            background-position: center